@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1c1c1e;
  --color-secondary: #2c2c2e;
  --color-accent: #0a84ff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #8e8e93;

  /* Keyboard */
  --keyboard-height: 0px;

  /* SafeArea */
  /* --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom); */
}

@media (prefers-color-scheme: dark) {}

body {
  background-color: var(--color-primary);
  /* Keyboard */
  transform: translateY(var(--keyboard-height));
  /* cela déplace le contenu vers le haut */
  transition: transform 0.3s ease-in-out;

  margin: 0 auto;
  max-width: 430px;
  /* Ajustez cette valeur selon vos besoins */
  /* Centre le conteneur horizontalement */
  width: 100%;
}

.scrollable-content {
  height: calc(100vh - 150px - var(--safe-area-inset-bottom) - var(--safe-area-inset-top));
  /* Ajustez cette valeur en fonction de la hauteur du formulaire fixé */
  overflow-y: auto;
}

@layer utilities {}